<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <!-- <listeners>
        <listener class-name="unittests.CustomReport" />
    </listeners>-->
  <test name="Test">
	<!-- Add your Functional Test class here -->
    <classes>
     
     <class name="test.KmsDemo.tests.frmProfileTest" >
     <methods> 
     <include name = "updateProfile"/>     	       	    
      </methods>
      </class>
     <class name="test.KmsDemo.tests.frmPreferenceTest" >
     <methods>  
     <include name = "updatePreferences"/>    	       	    
      </methods>
      </class>
     <class name="test.KmsDemo.tests.frmEventTest" >
     
      <methods>   
      <include name = "triggerEvent"/>   	       	    
      </methods>
      </class>
      <class name="test.KmsDemo.tests.frmGeoLocationTest" >
     
      <methods>   
      <include name = "geoBoundary"/>   	       	    
      </methods>
      </class>
     
            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
